<nav class="flex justify-between p-4 mb-4 bg-purple-800 text-white navbar">
  <a routerLink="">
    <h1>Book shop</h1>
  </a>
  <div>
    <a routerLink="cart" class="m-2" matTooltip="Please login to access the cart" [matTooltipDisabled]="isAuthenticated()">
      My Cart
    </a>
    <ng-container *ngIf="!isAuthenticated()">
      <a routerLink="login" class="m-2">Login</a>
      <a routerLink="register" class="m-2">Register</a>
    </ng-container>
    <ng-container *ngIf="isAuthenticated()">
      <button (click)="logout()" class="mx-4">Logout</button>
    </ng-container>
  </div>
</nav>
<div class="p-4">
  <router-outlet></router-outlet>
</div>
